<!doctype html>
<html lang="ko">
<head>
<meta charset="utf-8">
<title>시험대비 · 견본 · 중3 · 삼각비</title>
<link rel="stylesheet" href="../../../surisomath-a4/templates/base.css">
<link rel="stylesheet" href="../exam.css">
</head>
<body>

<section class="exam">
  <p class="series">시험대비 · 견본 · 중3 · 삼각비</p>
  <p class="name">이름<span class="blank"></span></p>
  <div class="cols">
    <div class="col">
      <h2>001</h2>
      <p><span class="w"><img class="mi" src="figures/m001_1.svg" alt="\sin 30^{\circ}+\cos 60^{\circ}" style="height:10.32pt;vertical-align:-1.42pt;margin:-0.00pt 0 -0.00pt">의</span> 값은?</p>
      <ol class="n7 c5">
        <li><span class="w"><img class="mi" src="figures/c001_1_1.svg" alt="0" style="height:9.26pt;vertical-align:-0.72pt;margin:-0.00pt 0 -0.00pt"></span></li>
        <li><span class="w"><img class="mi" src="figures/c001_2_1.svg" alt="\dfrac{1}{2}" style="height:21.19pt;vertical-align:-7.13pt;margin:-0.00pt 0 -0.00pt"></span></li>
        <li><span class="w"><img class="mi" src="figures/c001_3_1.svg" alt="1" style="height:8.99pt;vertical-align:-0.45pt;margin:-0.00pt 0 -0.00pt"></span></li>
        <li><span class="w"><img class="mi" src="figures/c001_4_1.svg" alt="\dfrac{3}{2}" style="height:21.19pt;vertical-align:-7.13pt;margin:-0.00pt 0 -0.00pt"></span></li>
        <li><span class="w"><img class="mi" src="figures/c001_5_1.svg" alt="2" style="height:8.99pt;vertical-align:-0.45pt;margin:-0.00pt 0 -0.00pt"></span></li>
      </ol>
      <div class="work box n001">
      </div>
    </div>
    <div class="col">
      <h2>002</h2>
      <p>다음 그림과 같이 <span class="w"><img class="mi" src="figures/m002_1.svg" alt="\angle\mathrm{B}=90^{\circ}" style="height:9.58pt;vertical-align:-0.68pt;margin:-0.00pt 0 -0.00pt">,</span> <span class="w"><img class="mi" src="figures/m002_2.svg" alt="\angle\mathrm{A}=30^{\circ}" style="height:9.85pt;vertical-align:-0.71pt;margin:-0.00pt 0 -0.00pt">,</span> <span class="w"><img class="mi" src="figures/m002_3.svg" alt="\overline{\mathrm{AC}}=10" style="height:12.07pt;vertical-align:-0.68pt;margin:-0.00pt 0 -0.00pt">인</span> 직각삼각형 <span class="w"><img class="mi" src="figures/m002_4.svg" alt="\mathrm{ABC}" style="height:9.85pt;vertical-align:-0.71pt;margin:-0.00pt 0 -0.00pt">의</span> 넓이를 구하시오.</p>
      <div class="figure" style="--u:5"><img src="figures/p2.svg" alt="각 B가 직각, 각 A가 30°, 빗변 AC의 길이가 10인 직각삼각형"></div>
      <div class="work box n002">
      </div>
    </div>
  </div>
</section>

<section class="exam">
  <p class="series">시험대비 · 견본 · 중3 · 삼각비</p>
  <div class="cols">
    <div class="col">
      <h2>003</h2>
      <p>한 변의 길이가 2인 정사각형의 대각선의 길이는?</p>
      <ol class="n7 c3">
        <li><span class="w"><img class="mi" src="figures/c003_1_1.svg" alt="\sqrt{2}" style="height:12.74pt;vertical-align:-0.48pt;margin:-0.00pt 0 -0.00pt"></span></li>
        <li><span class="w"><img class="mi" src="figures/c003_2_1.svg" alt="\sqrt{3}" style="height:13.01pt;vertical-align:-0.75pt;margin:-0.00pt 0 -0.00pt"></span></li>
        <li><span class="w"><img class="mi" src="figures/c003_3_1.svg" alt="2\sqrt{2}" style="height:12.74pt;vertical-align:-0.48pt;margin:-0.00pt 0 -0.00pt"></span></li>
        <li><span class="w"><img class="mi" src="figures/c003_4_1.svg" alt="2\sqrt{3}" style="height:13.01pt;vertical-align:-0.75pt;margin:-0.00pt 0 -0.00pt"></span></li>
        <li><span class="w"><img class="mi" src="figures/c003_5_1.svg" alt="3\sqrt{2}" style="height:13.01pt;vertical-align:-0.75pt;margin:-0.00pt 0 -0.00pt"></span></li>
      </ol>
      <div class="work box n003">
      </div>
    </div>
    <div class="col"></div>
  </div>
</section>

<section class="exam">
  <p class="series">시험대비 · 견본 · 중3 · 삼각비</p>
  <div class="cols">
    <div class="col">
      <h2>001</h2>
      <p><span class="w"><img class="mi" src="figures/m001_1.svg" alt="\sin 30^{\circ}+\cos 60^{\circ}" style="height:10.32pt;vertical-align:-1.42pt;margin:-0.00pt 0 -0.00pt">의</span> 값은?</p>
      <ol class="n7 c5">
        <li><span class="w"><img class="mi" src="figures/c001_1_1.svg" alt="0" style="height:9.26pt;vertical-align:-0.72pt;margin:-0.00pt 0 -0.00pt"></span></li>
        <li><span class="w"><img class="mi" src="figures/c001_2_1.svg" alt="\dfrac{1}{2}" style="height:21.19pt;vertical-align:-7.13pt;margin:-0.00pt 0 -0.00pt"></span></li>
        <li><span class="w"><img class="mi" src="figures/c001_3_1.svg" alt="1" style="height:8.99pt;vertical-align:-0.45pt;margin:-0.00pt 0 -0.00pt"></span></li>
        <li><span class="w"><img class="mi" src="figures/c001_4_1.svg" alt="\dfrac{3}{2}" style="height:21.19pt;vertical-align:-7.13pt;margin:-0.00pt 0 -0.00pt"></span></li>
        <li><span class="w"><img class="mi" src="figures/c001_5_1.svg" alt="2" style="height:8.99pt;vertical-align:-0.45pt;margin:-0.00pt 0 -0.00pt"></span></li>
      </ol>
      <div class="work box t001">
        <p class="answer">정답: ③</p>
        <p><span class="w"><img class="mi" src="figures/s001_1_1.svg" alt="\sin 30^{\circ}=\dfrac{1}{2}" style="height:21.19pt;vertical-align:-7.13pt;margin:-0.00pt 0 -0.00pt">,</span> <span class="w"><img class="mi" src="figures/s001_1_2.svg" alt="\cos 60^{\circ}=\dfrac{1}{2}" style="height:21.19pt;vertical-align:-7.13pt;margin:-0.00pt 0 -0.00pt">이므로</span></p>
        <p><span class="w"><img class="mi" src="figures/s001_2_1.svg" alt="\sin 30^{\circ}+\cos 60^{\circ}=1" style="height:10.32pt;vertical-align:-1.42pt;margin:-0.00pt 0 -0.00pt">이다.</span></p>
        <p>따라서 구하는 값은 <span class="w"><img class="mi" src="figures/s001_3_1.svg" alt="1" style="height:8.99pt;vertical-align:-0.45pt;margin:-0.00pt 0 -0.00pt">이다.</span></p>
      </div>
    </div>
    <div class="col">
      <h2>002</h2>
      <p>다음 그림과 같이 <span class="w"><img class="mi" src="figures/m002_1.svg" alt="\angle\mathrm{B}=90^{\circ}" style="height:9.58pt;vertical-align:-0.68pt;margin:-0.00pt 0 -0.00pt">,</span> <span class="w"><img class="mi" src="figures/m002_2.svg" alt="\angle\mathrm{A}=30^{\circ}" style="height:9.85pt;vertical-align:-0.71pt;margin:-0.00pt 0 -0.00pt">,</span> <span class="w"><img class="mi" src="figures/m002_3.svg" alt="\overline{\mathrm{AC}}=10" style="height:12.07pt;vertical-align:-0.68pt;margin:-0.00pt 0 -0.00pt">인</span> 직각삼각형 <span class="w"><img class="mi" src="figures/m002_4.svg" alt="\mathrm{ABC}" style="height:9.85pt;vertical-align:-0.71pt;margin:-0.00pt 0 -0.00pt">의</span> 넓이를 구하시오.</p>
      <div class="figure" style="--u:5"><img src="figures/p2.svg" alt="각 B가 직각, 각 A가 30°, 빗변 AC의 길이가 10인 직각삼각형"></div>
      <div class="work box t002">
        <p class="answer">정답: <span class="w"><img class="mi" src="figures/a002_1.svg" alt="\dfrac{25\sqrt{3}}{2}" style="height:20.94pt;vertical-align:-6.05pt;margin:-1.15pt 0 -0.00pt"></span></p>
        <p>주어진 그림에서</p>
        <p><span class="w"><img class="mi" src="figures/s002_2_1.svg" alt="\overline{\mathrm{BC}}=\overline{\mathrm{AC}}\sin 30^{\circ}=5" style="height:12.07pt;vertical-align:-0.68pt;margin:-0.00pt 0 -0.00pt">,</span></p>
        <p><span class="w"><img class="mi" src="figures/s002_3_1.svg" alt="\overline{\mathrm{AB}}=\overline{\mathrm{AC}}\cos 30^{\circ}=5\sqrt{3}" style="height:13.01pt;vertical-align:-0.75pt;margin:-0.00pt 0 -0.00pt">이므로</span></p>
        <p class="gap"></p>
        <p><span class="w"><img class="mi" src="figures/s002_5_1.svg" alt="\triangle\!\mathrm{ABC}=\dfrac{1}{2}\times5\sqrt{3}\times5" style="height:21.19pt;vertical-align:-7.13pt;margin:-0.00pt 0 -0.00pt">이다.</span></p>
        <p>따라서 <span class="w"><img class="mi" src="figures/s002_6_1.svg" alt="\triangle\!\mathrm{ABC}" style="height:12.26pt;vertical-align:-1.92pt;margin:-0.00pt 0 -0.00pt">의</span> 넓이는</p>
        <p><span class="w"><img class="mi" src="figures/s002_7_1.svg" alt="\dfrac{25\sqrt{3}}{2}" style="height:24.93pt;vertical-align:-7.15pt;margin:-3.47pt 0 -0.00pt">이다.</span></p>
      </div>
    </div>
  </div>
</section>

<section class="exam">
  <p class="series">시험대비 · 견본 · 중3 · 삼각비</p>
  <div class="cols">
    <div class="col">
      <h2>003</h2>
      <p>한 변의 길이가 2인 정사각형의 대각선의 길이는?</p>
      <ol class="n7 c3">
        <li><span class="w"><img class="mi" src="figures/c003_1_1.svg" alt="\sqrt{2}" style="height:12.74pt;vertical-align:-0.48pt;margin:-0.00pt 0 -0.00pt"></span></li>
        <li><span class="w"><img class="mi" src="figures/c003_2_1.svg" alt="\sqrt{3}" style="height:13.01pt;vertical-align:-0.75pt;margin:-0.00pt 0 -0.00pt"></span></li>
        <li><span class="w"><img class="mi" src="figures/c003_3_1.svg" alt="2\sqrt{2}" style="height:12.74pt;vertical-align:-0.48pt;margin:-0.00pt 0 -0.00pt"></span></li>
        <li><span class="w"><img class="mi" src="figures/c003_4_1.svg" alt="2\sqrt{3}" style="height:13.01pt;vertical-align:-0.75pt;margin:-0.00pt 0 -0.00pt"></span></li>
        <li><span class="w"><img class="mi" src="figures/c003_5_1.svg" alt="3\sqrt{2}" style="height:13.01pt;vertical-align:-0.75pt;margin:-0.00pt 0 -0.00pt"></span></li>
      </ol>
      <div class="work box t003">
        <p class="answer">정답: ③</p>
        <p>대각선은 한 변의 길이가 2인</p>
        <p>직각이등변삼각형의 빗변이므로</p>
        <p>길이는 <span class="w"><img class="mi" src="figures/s003_3_1.svg" alt="\sqrt{2^2+2^2}=2\sqrt{2}" style="height:15.93pt;vertical-align:-1.39pt;margin:-0.23pt 0 -0.00pt">이다.</span></p>
        <p>따라서 대각선의 길이는 <span class="w"><img class="mi" src="figures/s003_4_1.svg" alt="2\sqrt{2}" style="height:12.74pt;vertical-align:-0.48pt;margin:-0.00pt 0 -0.00pt">이다.</span></p>
      </div>
    </div>
    <div class="col"></div>
  </div>
</section>

</body>
</html>
